main {
  font-family: Helvetica;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.propLabel {
  display: inline-block;
  width: 5rem;
}
.propRow {
  padding-bottom: 1rem;
}
[contentEditable] {
  display: inline-block;
  position: relative;
}
[contentEditable]::after {
  content: '';
  background: url(./example-edit-icon.jpg) no-repeat;
  background-size: cover;
  color: #555;
  position: absolute;
  right: -1.5rem;
  height: 1rem;
  width: 1rem;
}
[contentEditable]:focus::after {
  display: none;
}
